:root {
  --mdbgc: black;
  --mdfgc: white; 
}
.title{
 margin: auto;
 width: 45%;
 text-align: center;
 border: 3px solid green;
 padding: 10px;
}

.markdesigner{
 margin: auto;
 width: 75%;
 text-align: center;
 /*border: 3px solid green;*/
 padding: 10px;
}

.mdtable {
  width: 480px;
  border: none;
}

.markdesigner_back {
  background-color: var(--mdbgc);
}


.markdesigner_front {
  background-color: var(--mdfgc);
}

.markdesigner_colorpanel {
  text-align: center;
}

.md_bgc_t1 {
  white-space: nowrap;
  display: inline-block;
}

.md_bgc_t2 {
  display: inline-block;
}


.md_bgc_t3 {
  white-space: nowrap;
  font-family: 'Lucida Console', monospace;
  display: inline-block;
}

.md_bgc_t4 {
  display: inline-block;
}

.md_bg_cc {
  display: inline-block;
  background-color: black;
  min-width: 20px;
  width: 20px;
  height: 20px;
}

.md_fgc_t1 {
  white-space: nowrap;
  display: inline-block;
}

.md_fgc_t2 {
  display: inline-block;
}


.md_fgc_t3 {
  white-space: nowrap;
  font-family: 'Lucida Console', monospace;
  display: inline-block;
}

.md_fgc_t4 {
  display: inline-block;
}

.md_fg_cc {
  display: inline-block;
  background-color: black;
  min-width: 20px;
  width: 20px;
  height: 20px;
}
.all_canvas {
  border: none;
}
