.title{
 margin: auto;
 width: 45%;
 text-align: center;
 padding: 10px;
}

.markdesigner{
 margin: auto;
 width: 75%;
 text-align: center;
 padding: 10px;
}

.markdesigner_back {
  background-color: black;
}


.markdesigner_front {
  background-color: red;
}
