.title{
 margin: auto;
 width: 45%;
 text-align: center;
 border: 3px solid green;
 padding: 10px;
}

.markdesigner{
 margin: auto;
 width: 75%;
 text-align: center;
 border: 3px solid gray;
 padding: 10px;
}
